<h2><%= @restaurant.name %></h2>
<p>Category: <%= @restaurant.category %></p>
<p>Address: <%= @restaurant.address %></p>
<p>Hotline: <%= @restaurant.phone_number %></p>

<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
    <li class="list-group-item"><%= 'â­' * review.rating %></li>
    <br>
  <% end %>
</ul>

<%= link_to("Back", restaurants_path) %>
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
